@model SurveyApp.Models.Surveys.TakeSurveyViewModel

@{
    ViewData["Title"] = "Take Survey";
}

<form asp-action="TakeSurvey" asp-controller="Surveys">
    <div>
        <h1>@Model.Name</h1>
        <input hidden asp-for="@Model.Name"/>
    </div>
    <div>
        <h4>@Model.Description</h4>
        <input hidden asp-for="@Model.Description"/> 
    </div>
    <div>
        <h6>Please answer all questions</h6>
    </div>
    <div>
    
        @for (var i=0; i<@Model.Questions.Count; i++)
        {
            <div>Question number: @(i+1)</div>
            <input asp-for="@Model.Questions[i].QuestionId" hidden />
            <input asp-for="@Model.Questions[i].Question" hidden />
            <label asp-for="@Model.Questions[i].Answer" class="control-label">@Model.Questions[i].Question</label>
            <input asp-for="@Model.Questions[i].Answer" class="form-control"/>
            <span asp-validation-for="@Model.Questions[i].Answer" class="text-danger"></span>
        }
        <div class="form-group">
            <input type="submit" value="Submit answers" class="btn btn-primary mt-3" />
        </div>
    </div>
    </form>
